@layout('layout/master')

@section('content')
<div class="container">
    {{--  Блок с сообщениями  --}}
    <div class="col-13 mb-1 row">
    </div>
    {{--  Конец блока с сообщениями  --}}
  <h3 class="mt-2 mb-4">{{ title }}</h3>


</div>
@endsection
